.container img{
    height: 200px;
    margin: 1rem;
}


.container p {
    text-align: center;
}

.container .total{
    position: fixed;
    align-items: center;
    display: flex;
    color: white;
    justify-content: space-between;
    bottom: 0px;
    padding: 1rem 0rem;
    background-color: #131921;
    width: 100%;
}

.itemContainer {
    position: relative;
  }
  
  .itemContainer svg {
    transform: scale(2);
  }
  
  .itemContainer div {
    position: absolute;
  }
  
  .itemContainer div:nth-child(1) {
    left: 30px;
    top: 30px;
  }
  
  .itemContainer div:nth-child(2) {
    left: 30px;
    bottom: 30px;
  }
  

  .Cartbtn {
    background-color: antiquewhite;
    color: #131921;
    padding: 1rem 1.5rem;
    margin-right: 1rem;
  }

  .container h1{
    font-size: 24px;
    text-align: center;
    padding: 1rem;
  }